*.zip
.zip
*.rar
.rar
*.7z
.7z
*.tar.gz
.tar.gz
*.tgz
.tgz
*.log
.log
*.tmp
.tmp
*.bak
.bak
*.DS_Store
.DS_Store
node_modules/
node_modules/
dist/
./metadata/
.metadata/
target/
Luismi/ad-psp-2025_Ejercicio04-12/
Luismi/ad-psp-2025_*/
Luismi/ad-psp-2025-*/
Luismi/ad-psp-2025*/