<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:if="${success}" th:text="${success}"></span>
<span th:if="${error}" th:text="${error}"></span>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Categoria</th>
            <th>Temperatura</th>
            <th>Requisitos Especiales</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tipoAlmacen : ${tiposAlmacen}">
            <td th:text="${tipoAlmacen.id}">ID</td>
            <td th:text="${tipoAlmacen.nombre}">Nombre</td>
            <td th:text="${tipoAlmacen.capacidad}">Capacidad</td>
            <td th:text="${tipoAlmacen.categoria}">Categoria</td>
            <td th:text="${tipoAlmacen.temperatura}">Temperatura</td>
            <td th:text="${tipoAlmacen.requisitosEspeciales}">Requisitos Especiales</td>
            <td>
                <a th:href="@{'tipos/editar/' + ${tipoAlmacen.id}}">Editar</a>
                <form th:action="@{'tipos/' + ${tipoAlmacen.id}}" th:method="delete" style="display:inline">
                    <button type="submit">Eliminar</button>
                </form>
        </tr>
        </tbody>
    </table>

    <a th:href="@{tipos/nuevo}">Crear Nuevo Tipo de Almacen</a>
    <a th:href="@{/}">Volver al inicio</a>

</body>
</html>