<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="${crear} ? 'POST' : 'PUT'" id="formulario" th:action="@{/suscripciones}" th:object="${suscripcion}">

    <label for="fechaInicio">Fecha de Inicio:</label>
    <input type="date" id="fechaInicio" name="fechaInicio" th:field="*{fechaInicio}" required/>

    <label for="plataforma">Plataforma:</label>
    <select id="plataforma"  th:field="*{plataformaId}" required>
        <option value="null" selected hidden=""> Selecciona una plataforma </option>
        <option th:each="plataforma : ${plataformas}"
                th:value="${plataforma.id}"
                th:text="${plataforma.nombre}">Plataforma Nombre</option>
    </select>


    <label for="plan">Plan:</label>
    <select id="plan" th:field="*{planId}" required>
        <option value="null" selected hidden="" th:if="planListo"> Selecciona un plan </option>
        <option th:each="plan : ${planes}" th:value="${plan.id}" th:text="${plan.nombre}">Plan Nombre</option>
    </select>

    <label for="autoRenovacion">Auto Renovación:</label>
    <input type="checkbox" id="autoRenovacion" th:field="*{autoRenovacion}"/>

    <button type="submit">GUARDAR</button>

</form>
</body>
</html>