<div class="container">
    <div class="row">
        @for (vehiculo of vehiculos; track vehiculo.url) {
            <div class="card m-3" style="width: 18rem; padding: 0;">
                <div style="height: 20px; background-color: red; border-radius: 5px 5px 0px 0px;"></div>
                <div class="card-body">
                    <h5 class="card-title">{{vehiculo.name}}</h5>
                    <p style="font-size: x-small;" class="card-subtitle">{{vehiculo.model}}</p>
                    <p class="card-text">
                        <strong>Price: </strong> {{vehiculo.cost_in_credits}} Credits <br>
                        <strong>Cargo capacity: </strong> {{vehiculo.cargo_capacity}} KG <br>
                        <strong>length: </strong> {{vehiculo.length}}

                        
                    </p>
                    <a href="{{vehiculo.url}}" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        }   
    </div>
</div>