<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>{{ vehicle?.name }}</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Model:</strong> {{ vehicle?.model }}</p>
                    <p><strong>Manufacturer:</strong> {{ vehicle?.manufacturer }}</p>
                    <p><strong>Cost in Credits:</strong> {{ vehicle?.cost_in_credits }}</p>
                    <p><strong>Length:</strong> {{ vehicle?.length }}</p>
                    <p><strong>Max Speed:</strong> {{ vehicle?.max_atmosphering_speed }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Crew:</strong> {{ vehicle?.crew }}</p>
                    <p><strong>Passengers:</strong> {{ vehicle?.passengers }}</p>
                    <p><strong>Cargo Capacity:</strong> {{ vehicle?.cargo_capacity }}</p>
                    <p><strong>Consumables:</strong> {{ vehicle?.consumables }}</p>
                    <p><strong>Class:</strong> {{ vehicle?.vehicle_class }}</p>
                </div>
            </div>
            <hr>
            <p><strong>Pilots:</strong> {{ vehicle?.pilots }}</p>
            <p><strong>Films:</strong> {{ vehicle?.films }}</p>
        </div>
    </div>
    <a [routerLink]="['/','vehicles']" class="btn btn-primary mt-3"> Volver al listado</a>
</div>

