
<div class="container mt-5">
    <div class="row">
        <!-- Poster y Info Principal -->
        <div class="col-md-4">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie?.poster_path" class="img-fluid rounded" alt="{{movie?.title}}">
        </div>

        <div class="col-md-8">
            <h1>{{movie?.title}}</h1>
            <p class="text-muted"><em>{{movie?.tagline}}</em></p>
            
            <p><strong>Géneros:</strong>
            @for (genre of movie?.genres; track $index) {
                <span> {{genre.name}} </span>
            }

            <h5>Sinopsis</h5>
            <p>{{movie?.overview}}</p>

            <p><strong>Estado:</strong> {{movie?.status}}</p>
            <p><strong>Idioma:</strong> {{movie?.original_language}}</p>
            <p><strong>IMDb ID:</strong> {{movie?.imdb_id}}</p>
            <div class="mt-3">
                <p><strong>Rating:</strong> {{movie?.vote_average}}/10</p>
                <p><strong>Año:</strong> {{movie?.release_date}}</p>
                <p><strong>Duración:</strong> {{movie?.runtime}} min</p>
                <p><strong>Presupuesto:</strong> ${{movie?.budget}}</p>
                <p><strong>Ingresos:</strong> ${{movie?.revenue}}</p>
            </div>
        </div>
    </div>

    <!-- Videos -->
    <div class="row mt-5">
        <div class="col-12">
            <h3>Vídeos</h3>
            <div class="row">
                @if (videos) {
                @for (video of videos; track video.id) {
                    <div class="col-md-6 mb-4">
                        @if (video.site == "YouTube") {
                            <div class="card">
                                <div class="ratio ratio-16x9">
                                    <iframe width="560" height="315" [src]="urlMethod(video.key,video.site)" title="YouTube video player" frameborder="0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                    </iframe>                                
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{video.name}}</p>
                                </div>
                            </div>
                        }@else if (video.site == "Vimeo") {
                            <div class="card">
                                <div class="ratio ratio-16x9">
                                    <iframe title="vimeo-player" [src]="urlMethod(video.key,video.site)" width="640" height="360" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" 
                                        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"   allowfullscreen>
                                    </iframe>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{video.name}}</p>
                                </div>
                            </div>
                        }
                    </div>
                }
                }
            </div>
        </div>
    </div>
    <button [routerLink]="'/home'" class="btn btn-primary mb-5"> Volver a home </button>
</div>
