<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${crear} ? 'Creacion de usuarios' : 'Editar Usuario'"></h1>

<form th:method="${crear} ? 'POST' : 'PUT'" action="/usuarios" th:object="${usuario}">

    <input th:if="${!crear}" type="hidden" th:field="*{id}">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" th:field="*{nombre}" required>
    <br>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" th:field="*{apellidos}" required>
    <br>

    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>
    <br>

    <label for="password">Password:</label>
    <input type="text" id="password" th:field="*{password}" required>
    <br>

    <label for="fecha_creacion">Fecha de Creacion: </label>
    <input type="date" id="fecha_creacion" th:field="*{fechaCreacion}" required>
    <br>

    <label for="activo">Activo: </label>
    <input type="checkbox" id="activo" th:field="*{activo}">

    <button type="submit" th:text="${crear} ? 'Crear Usuario' : 'Actualizar Usuario'"></button>
    <button type="button" onclick="window.location.href='/usuarios'">Cancelar</button>

</form>

</body>
</html>